<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="go()">
    <ion-item>
      <ion-label position="stacked">Correo</ion-label>
      <ion-input type="email" formControlName="email" placeholder="tu@correo.com"></ion-input>
    </ion-item>
    <div class="validators" *ngIf="form.controls['email'].touched && form.controls['email'].invalid">
      <ion-text>Ingresa un correo válido</ion-text>
    </div>

    <ion-item class="ion-margin-top">
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input type="password" formControlName="password" placeholder="••••••••"></ion-input>
    </ion-item>
    <div class="validators" *ngIf="form.controls['password'].touched && form.controls['password'].invalid">
      <ion-text>La contraseña es requerida</ion-text>
    </div>

    <ion-button expand="block" class="ion-margin-top" type="submit">
      Iniciar sesión
    </ion-button>
  </form>
</ion-content>
